# Build
bin/
obj/
*.user
*.suo

# VS Code
.vscode/

# Rider
.idea/

# User-specific files
*.userosscache
*.sln.docstates

# Logs
*.log

# Others
*.vs/

# Publish
publish/

# Environment files
.env
secrets.json
appsettings.json
appsettings.*.json
appsettings.*.local.json
